body{
    background-color: #fbe6c2;
    margin: 0%;
}

header {
    background-color:#f0c929;
    color:#0e918c;
    height: 100px;

}

header h1 { 
    float: left;
    margin: 1% 0 0 1%;
}


header nav { 
    float: left;
    margin: 0 0 0 60%;
}


main {
    background-color:#f48b29;
    color: #0e918c;
    height: 400px;
}
main ul{
    margin-top: 0;

}


footer{
    background-color:#ac0d0d;
    color:black;
}


footer {
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    line-height: 40px;
    
}

*{color:black;}